analisa/!.md
analisa/*.mp4
analisa/!.html

.code-worspace
.env
!.env-example
node_modules
apps/api/node_modules
apps/web/node_modules
apps/api/dist
apps/web/dist
packages/shared-types/node_modules
packages/shared-types/dist
.pnpm-store
.turbo
.vscode
